/*

$pink: #ED708F;
$green: #12A89D;
$green-light: #BADFCD;
 */

html,
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    height: 100%;

    background-color: #12A89D;
    background-color: #12A89D;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    /*animation: animatedBackground 30s linear infinite;*/
}

@-webkit-keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 600px 600px; }
}

@-moz-keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 600px 600px; }
}

@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 600px 600px; }
}

a {
    color: inherit;
}

.logo {
    display: inline-block;
    position: absolute;
    left: 3rem;
    top: 3rem;
}

.logo img {
    position: relative;
    width: 64px;
    height: auto;
    opacity: 0.4;
    transform: scaleX(-1);
}

.hire {
    position: absolute;
    right: 3rem;
    top: 3rem;

    display: inline-block;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 3px;
    padding: .75rem;
    text-align: center;

    /*text-transform: uppercase;*/
    letter-spacing: 1px;
    /*font-weight: 600;*/
    transition: all ease .3s;
}

.hire:hover {
    background: #fff;
    color: #12A89D;
}


.midway {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.midway-inner {
    display: table-cell;
    /*text-align: center;*/
    vertical-align: middle;
}

.shout {
    font-size: 3rem;
    line-height: 1;
    font-weight: 600;
}

.tag {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    color: #000;
    opacity: 0.4;
}

.content {
    padding: 3rem;
    max-width: 42rem;
}

@media(max-width: 600px) {

    .logo {
        left: 1.5rem;
    }

    .hire {
        right: 1.5rem;
    }

    .content {
        padding: 1.5rem;
    }
}
